      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Please enter the information below to create your account</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="buddy-firstName">Buddy First Name</label>
            <input type="text" id="buddy-firstName" class="form-control" aria-describedby="buddy-firstName" placeholder="Enter Your First Name">
          </div>
          <div class="form-group">
            <label for="buddy-lastName">Buddy Last Name</label>
            <input class="form-control" id="buddy-lastName" aria-describedby="buddy-lastName" placeholder="Enter Your Last Name"></textarea>
          </div>
          <div class="form-group">
            <label for="buddy-email">Buddy Email Address</label>
            <input class="form-control" id="buddy-email" aria-describedby="buddy-email" placeholder="Enter Your Email Address"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
