<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Study Buddy</h5>
          <p>
            <strong>ID</strong>: {{buddy.id}}</p>
          <p>
          <p>
            <strong>Buddies Name</strong>: {{buddy.firstName}} {{buddy.lastName}}</p>
          <p>
            <strong>Email Address:</strong> {{buddy.email}}</p>
            <a href="/">â† Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
