
  <p class="lead">Welcome to the site take a look at some of the recent Buddies to join below. Click the link above to
    create an account</p>
  </p>

<div id="howitworks">

  <h2>How StudyBuddy Works</h2>

  <p>First create an account and choose a few interests to get started!</p>

  <p>Second find a buddy with similar interests as you!</p>

  <p>Third set up study sessions with other buddies using their contact info!</p>

  <h2>New Features Coming Soon!</h2>

  <p>1. Google Maps API to find places to study near you</p>

  <p>2. In platform chat between buddies</p>

  <p>3. New interests outside of web devlopment in all subjects</p>

  <h2>About Us</h2>

  <p>StudyBuddy was created because we saw how hard it was to find a study buddy especially for those already out of school.</p>

  <p>We sought out to create a platform where users can find other buddies to help further their understanding and learning.</p>

  <p>In the future, we want StudyBuddy to help connect students of all subjects and include in-house learning content.</p>

  <p>StudyBuddy was created using HTML, CSS, Javascript, jQuery, Handlebars, MySQl and Node.</p>

  </div>
<br>
